[user]
	useConfigOnly = true
[credential]
	helper = store
[core]
	quotepath = false
	autocrlf = false
	preloadindex = true
	fscache = true
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
	log = diff-so-fancy | less --tabs=4 -RFX
[fetch]
	prune = true
[rerere]
	enabled = true
