[user]
	useConfigOnly = true
[credential]
	helper = store
[core]
	quotepath = false
	autocrlf = false
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
	log = diff-so-fancy | less --tabs=4 -RFX
